.popUpContainer{
    position: fixed;
    border-radius: 5px;
    cursor: pointer;
    height: 80vh;
    width: 100%;
    z-index: 10;
    top: 10px;
    left:20%;
}

.closebtn{
    position: absolute;
    z-index: 12;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px;
    right: -12px;
    top: -12px;
    background-color: rgb(249, 249, 249,0.7)
}



.popUpconatinerImg{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
    width: 100%;
    position: relative;
}

.share-download-conatiner{
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 95%;
    margin: auto;
}

.share-download-conatiner button{
    padding: 5px 10px; 
    border-radius: 5px;
    border: none;
}

.share-download-conatiner-first >button{
    margin-left: 5px;
}

.share-download-conatiner-first button{
    background-color: transparent;
    border: 1px solid whitesmoke;

}

.share-download-conatiner-first button p{
  color: white;

}

.share-download-conatiner > button{
    background-color: #2fa52f;
    color: white;
    cursor: pointer;
    padding: 12px 24px;
}



.share-download-conatiner-first button svg{
    width: 20px;
    height: 20px;
    color: white;
}

.popUpContainerSecondMain{
    background-color: var( --popUpcolor);
    padding: 7px;
    margin-top: -5px;
}

.popUpContainerSecond{
   justify-content: space-between;
}

.popUpContainerLeft img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.socials{
    margin-left: 5px;

}

.socials svg{
    color: rgb(113 112 112 / 70%);

}

.socials p{
   color: rgb(113 112 112 / 70%);

} 

.socials svg{
    width: 30px;
    height: 30px;
 
}

/* userName div */
.popUpContainerLeft div{
   margin-left: 7px;
}



.popUpContainerRight{
    padding: 4px;
}

.popUpContainerRight button{ 
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
 }
 

.popUpContainerRight svg{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: var( --mainColor1);
}

.popUpConatinerthird{
    margin-top: 5px;
}

.tagWrapper{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.tagsContainer{
    padding: 5px;
    background-color: var(--color2);
    margin-left: 3px;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
   .popUpContainerSecond{
    flex-direction: column;
   }

   .popUpContainerLeft{
    flex-direction: column;
   }

   .popUpconatinerImg{
    background-size: contain;
   }

}

@media screen and (max-width: 600px) {
    .popUpContainer{
        height: 50vh;
        width: 90% !important;
        left:10px;
    }

    .share-download-conatiner > button{

        padding: 5px 10px;
    }
    
 }




