* {
  padding: 0;
  margin: 0;
}

:root {
  --mainColor1: rgba(0, 0, 0, 0.86);
  --color2: rgb(197, 197, 197, 0.27);
  --popUpcolor:white;
}



.dark-mode {
  background-color: rgb(22, 21, 21);
  --mainColor1: white;
  --popUpcolor:rgba(0, 0, 0, 0.9);
  color: white;
}

.dark-mode-text{
    color: white !important;
}

.dark-mode-inputText{
    color: rgb(233 233 233 / 80%) !important;
}

.centerItemsVertically {
  display: flex;
  align-items: center;
}
